// COLOR
$aColorBlack: #000000;
$aColorDeepPurple: #39334e;
$aColorDirtyGray: #b7b7b7;
$aColorFoggyPurple: #8c84b0;
$aColorPeaGreen: #9affcf;
$aColorWhite: #ffffff;
$deepPurple: #7469aa;
$disabledDeepPurple: #8c84b0;
$disabledGray: #b7b7b7;
$limeGreen: #9affcf;
