:root[data-theme='hybrid'] {
	/*--hybrid-colors-background: var(--palette-red);
	--hybrid-colors-text: var(--palette-yellow);
	--hybrid-colors-border: var(--palette-black);

	--colors-background: var(--hybrid-colors-background);
	--colors-text: var(--hybrid-colors-text);
	--colors-border: var(--hybrid-colors-border);*/

	--colors-background: var(--palette-red);
	--colors-text: var(--palette-yellow);
	--colors-border: var(--palette-black);
}
