@mixin theme {
    --light-colors-background: var(--palette-white);
    --light-colors-text: var(--palette-black);
}

@mixin mode {
    --colors-background: var(--light-colors-background);
    --colors-text: var(--light-colors-text);
}