:root[data-theme='light'] {
	--dark-colors-background: var(--palette-black);
	--dark-colors-text: var(--palette-white);

	--colors-background: var(--light-colors-background);
	--colors-text: var(--light-colors-text);
}